#accordion__p{
    background-image: url("../../media/examples/lizard.png");
}


.accordion {
    max-width: 80%;
    margin: 0 auto;
}

body {
    height: 150vh;
}

section {
    padding: 100px 0;
    color: #fff;
}

.accordion__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    background-color: lightcoral;
    padding: 20px;
    margin-bottom: 10px;
}

.plus {
    width: 30px;
    height: 30px;
}

.accordion__content {
    display: none;
}

.accordion__content p {
    padding: 10px 20px 20px;
}

.accodion__wrap.accordion__active .accordion__content {
    display: block;
}

.accodion__wrap.accordion__active .plus {
    rotate: 45deg;
}

/* ================================ */
/* second accordion  */

.accordion-container {
    display: flex;
    justify-content: center;
  }
  .accordion-items {
    width: 200px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
  }
  .accordion-items:hover {
    background-color: #3557a5;
  }
  .info-container {
    border: 1px solid #000000;
    padding: 10px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-items img {
    max-width: 100%;
    height: 100px;
  }

  .accordion-items title{
    color: #000000;
  }

  .accordion-items {
    color: #4CAF50;
    font-size: 18px;
  }
  
  .selected-item h3 {
    color: #FF5722;
    font-size: 24px;
  }
  
  .selected-item p {
    color: #2196F3;
    font-size: 16px;
  }

  .favorite {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .accordion-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  #accordion-list {
    margin-right: 20px;
  }
  
  .info-container {
    flex: 1;
  }

  
